# NYC Yellow Cap Data Engineering Project
# Exploratory Data Analysis

The purposes of this EDA are to gain familiarity with the dataset, and to identify data issues that require attention.

In [3]:
#import packages
import configparser
import boto3
import pandas as pd
import gc
import json
from pandas.io.json import json_normalize

In [7]:
# get AWS credentials from the credentials.file
config = configparser.ConfigParser()
config.read_file(open('credentials.cfg'))
AWS_KEY_ID=config.get("AWS","KEY")
AWS_SECRET=config.get("AWS","SECRET")

#download data if not exist

s3 = boto3.client('s3',
region_name='us-west-2',
aws_access_key_id=AWS_KEY_ID,
aws_secret_access_key=AWS_SECRET)

# months = [f"{i:02d}" for i in range(1,13)]
# s3.download_file(Filename='{month}.csv', Bucket='nyc-yellow-cab-project',Key="tripdata/2019/{month}.csv")

s3.download_file(Filename='weather.json', Bucket='nyc-yellow-cab-project',Key="weather/weather.json")

## 1. Inspect trips record data

First inspect trip records data for 2019-01 as an example:

In [8]:
#Inspect trips record for 2019-01
trips01 = pd.read_csv('01.csv')

In [9]:
#check dataset size
print(f'number of rows: {trips01.shape[0]}')

number of rows: 7667792

In [48]:
#check null values for each feature
print(trips01.isnull().sum(axis=0))

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count                0
trip_distance                  0
RatecodeID                     0
store_and_fwd_flag             0
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     4855978
dtype: int64

With the exception of the congestion_surcharge feature, there are no missing values.

In [33]:
#data description for numerical columns
trips01.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,7.667792e+06,2.811814e+06
mean,1.636775e+00,1.567078e+00,2.801084e+00,1.058371e+00,1.655009e+02,1.637529e+02,1.291776e+00,1.240941e+01,3.280394e-01,4.968458e-01,1.827367e+00,3.169187e-01,2.993382e-01,1.568222e+01,3.289691e-05
std,5.398204e-01,1.224431e+00,3.737529e+00,6.780889e-01,6.639180e+01,7.036445e+01,4.733229e-01,2.620721e+02,5.074789e-01,5.337843e-02,2.501213e+00,2.023665e+00,1.911711e-02,2.622932e+02,9.068695e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.620000e+02,-6.000000e+01,-5.000000e-01,-6.350000e+01,-7.000000e+01,-3.000000e-01,-3.628000e+02,0.000000e+00
25%,1.000000e+00,1.000000e+00,9.000000e-01,1.000000e+00,1.300000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.190000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.530000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,8.500000e+00,0.000000e+00,5.000000e-01,1.430000e+00,0.000000e+00,3.000000e-01,1.127000e+01,0.000000e+00
75%,2.000000e+00,2.000000e+00,2.800000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.330000e+00,0.000000e+00,3.000000e-01,1.656000e+01,0.000000e+00
max,4.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.232599e+05,5.353800e+02,6.080000e+01,7.872500e+02,3.288000e+03,6.000000e-01,6.232617e+05,2.500000e+00

For the vendorID column, according to the data dictionary, there should be values of 1 and 2, corresponding to the 2 providers. Yet there number "4" is also present. There is no information available online to explain this anomaly. To take a closer look:

In [53]:
trips01.VendorID.value_counts(normalize=True,dropna=False)

2    0.606718
1    0.383263
4    0.010019
Name: VendorID, dtype: float64

Only about 1% of rows are with VendorID = 4.

In [13]:
#check if any tpep_pickup_datetime is not in 2019-01
trips01[(trips01.tpep_pickup_datetime < '2019-01-01 00:00:00') | (trips01.tpep_pickup_datetime > '2019-01-31 23:59:59')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.00,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.00,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
5,2,2018-11-28 16:25:49,2018-11-28 16:28:26,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,5.76,0.3,13.31,NaN
6,2,2018-11-28 16:29:37,2018-11-28 16:33:43,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7665728,2,2019-02-01 00:01:04,2019-02-01 00:07:41,1,0.84,1,N,164,50,1,6.5,0.5,0.5,1.56,0.00,0.3,9.36,0.0
7665964,2,2019-02-01 00:00:35,2019-02-01 00:06:06,1,0.91,1,N,164,161,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50,0.0
7666027,2,2019-02-01 00:01:40,2019-02-01 00:32:02,1,18.12,1,N,132,165,1,50.0,0.5,0.5,0.00,0.00,0.3,51.30,0.0
7666250,2,2019-02-01 00:02:20,2019-02-01 00:14:01,1,2.53,1,N,144,170,1,10.5,0.5,0.5,2.36,0.00,0.3,14.16,0.0
7667531,2,2019-02-01 00:00:11,2019-02-01 00:10:48,1,1.42,1,N,164,229,1,8.5,0.5,0.5,1.96,0.00,0.3,11.76,0.0

Interestingly, some records have pickup times that are not within that month.

In [56]:
#create reference feature list to compare with datasets of other months
ref_features = list(trips01.columns)
print(features_list)

['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge']

In [57]:
#check other months

months = [f"{i:02d}" for i in range(2,13)]
print(months)

['02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [83]:
for month in months:
    
    print("**********************************")
    print(f"Checking dataset for month {month}...\n")
    trips = pd.read_csv(f'data/{month}.csv')
    
    print(f'Number of rows: {trips.shape[0]}\n')
    
    if list(trips.columns) == ref_features:
        print('Features are the same as reference features list.\n')
    else:
        print('***WARNING: Some features are different.***\n')
    
    print('Check missing values...\n')
    print(trips.isnull().sum())
    print("\n")
    print('Check statistical summary of numerical features...\n')
    print(trips.describe())
    print("\n")
    print(f'Maxium fare is {trips.fare_amount.max()}')
    print("\n\n")

**********************************
Checking dataset for month 02...

Number of rows: 7019375

Features are the same as reference features list.

Check missing values...

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  7.019375e+06     7.019375e+06   7.019375e+06  7.019375e+06
mean   1.636639e+00     1.571420e+00   2.884923e+00  1.061126e+00
std    5.248609e-01     1.228251e+00   3.780133e+00  6.375023e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   9.400000e-01  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.600000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   2.910000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   7.015000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  7.019375e+06  7.019375e+06  7.019375e+06  7.019375e+06  7.019375e+06
mean   1.635093e+02  1.618032e+02  1.269927e+00  1.274671e+01  1.157935e+00
std    6.594377e+01  7.007866e+01  4.666125e-01  2.559149e+02  1.268855e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.000000e+02 -4.500000e+00
25%    1.140000e+02  1.120000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.000000e+00  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.400000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  6.711231e+05  1.850000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  7.019375e+06  7.019375e+06  7.019375e+06           7.019375e+06
mean   4.959597e-01  2.163211e+00  3.417304e-01           2.990787e-01
std    5.240430e-02  2.634801e+00  1.673112e+00           2.279303e-02
min   -5.000000e-01 -6.200000e+01 -2.626000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.860000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  2.860000e+00  0.000000e+00           3.000000e-01
max    2.439000e+01  4.996900e+02  7.715200e+02           1.000000e+00

       total_amount  congestion_surcharge
count  7.019375e+06          7.019375e+06
mean   1.855685e+01          2.174607e+00
std    2.560429e+02          8.464274e-01
min   -4.008000e+02         -2.500000e+00
25%    1.100000e+01          2.500000e+00
50%    1.416000e+01          2.500000e+00
75%    1.980000e+01          2.500000e+00
max    6.711249e+05          2.750000e+00


Maxium fare is 671123.14



**********************************
Checking dataset for month 03...

Number of rows: 7832545

Features are the same as reference features list.

Check missing values...

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  7.832545e+06     7.832545e+06   7.832545e+06  7.832545e+06
mean   1.636294e+00     1.575179e+00   2.991058e+00  1.066853e+00
std    5.133681e-01     1.228348e+00   3.890174e+00  6.982373e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   9.700000e-01  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.610000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.050000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   2.371700e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  7.832545e+06  7.832545e+06  7.832545e+06  7.832545e+06  7.832545e+06
mean   1.619920e+02  1.602756e+02  1.278309e+00  1.317920e+01  1.203193e+00
std    6.587539e+01  7.023628e+01  4.713274e-01  3.468291e+02  1.284208e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.470000e+02 -5.750000e+01
25%    1.140000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.610000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.310000e+02  2.330000e+02  2.000000e+00  1.450000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  5.000000e+00  9.432748e+05  2.466000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  7.832545e+06  7.832545e+06  7.832545e+06           7.832545e+06
mean   4.955391e-01  2.231696e+00  3.649509e-01           2.989714e-01
std    6.906023e-02  5.063092e+01  1.677116e+00           2.404854e-02
min   -5.000000e-01 -8.989000e+01 -2.500000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.950000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  2.950000e+00  0.000000e+00           3.000000e-01
max    7.500000e+01  1.414920e+05  8.057600e+02           1.000000e+00

       total_amount  congestion_surcharge
count  7.832545e+06          7.832545e+06
mean   1.919107e+01          2.281122e+00
std    3.962275e+02          7.145868e-01
min   -4.503000e+02         -2.500000e+00
25%    1.116000e+01          2.500000e+00
50%    1.475000e+01          2.500000e+00
75%    2.030000e+01          2.500000e+00
max    1.084772e+06          4.500000e+00


Maxium fare is 943274.8



**********************************
Checking dataset for month 04...

Number of rows: 7433139

Features are the same as reference features list.

Check missing values...

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  7.433139e+06     7.433139e+06   7.433139e+06  7.433139e+06
mean   1.636259e+00     1.573301e+00   2.998019e+00  1.057416e+00
std    5.071082e-01     1.224597e+00   3.908213e+00  7.037535e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.640000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.050000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   8.309000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  7.433139e+06  7.433139e+06  7.433139e+06  7.433139e+06  7.433139e+06
mean   1.633672e+02  1.615346e+02  1.288608e+00  1.319433e+01  1.212602e+00
std    6.615664e+01  7.037945e+01  4.761804e-01  1.457199e+02  1.288626e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.500800e+02 -2.460000e+01
25%    1.160000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.450000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  3.958399e+05  2.000000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  7.433139e+06  7.433139e+06  7.433139e+06           7.433139e+06
mean   4.957358e-01  2.212688e+00  3.821195e-01           2.988961e-01
std    5.482860e-02  2.772410e+00  1.718031e+00           2.486543e-02
min   -5.000000e-01 -8.800000e+01 -2.300000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.950000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  2.960000e+00  0.000000e+00           3.000000e-01
max    2.745000e+01  4.408000e+02  8.125900e+02           1.000000e+00

       total_amount  congestion_surcharge
count  7.433139e+06          7.433139e+06
mean   1.922981e+01          2.291299e+00
std    1.459684e+02          7.017208e-01
min   -4.508800e+02         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.476000e+01          2.500000e+00
75%    2.075000e+01          2.500000e+00
max    3.958412e+05          2.750000e+00


Maxium fare is 395839.94



**********************************
Checking dataset for month 05...

Number of rows: 7565261

Features are the same as reference features list.

Check missing values...

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  7.565261e+06     7.565261e+06   7.565261e+06  7.565261e+06
mean   1.640188e+00     1.569429e+00   3.032936e+00  1.055399e+00
std    5.028127e-01     1.220021e+00   3.944314e+00  6.839690e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.650000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.100000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   4.014000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  7.565261e+06  7.565261e+06  7.565261e+06  7.565261e+06  7.565261e+06
mean   1.633961e+02  1.618172e+02  1.288196e+00  1.344322e+01  1.187887e+00
std    6.617983e+01  7.025218e+01  4.774292e-01  1.254897e+01  1.282190e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -3.750000e+02 -5.500000e+00
25%    1.250000e+02  1.130000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.500000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  4.016500e+03  2.300000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  7.565261e+06  7.565261e+06  7.565261e+06           7.565261e+06
mean   4.954630e-01  2.258855e+00  4.019985e-01           2.987214e-01
std    5.602393e-02  2.837838e+00  1.778192e+00           2.659155e-02
min   -5.000000e-01 -8.260000e+01 -2.000000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.950000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    3.300000e+00  4.440000e+02  9.210600e+02           3.000000e-01

       total_amount  congestion_surcharge
count  7.565261e+06          7.565261e+06
mean   1.953224e+01          2.286445e+00
std    1.533910e+01          7.101915e-01
min   -3.783000e+02         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.480000e+01          2.500000e+00
75%    2.100000e+01          2.500000e+00
max    4.020300e+03          2.750000e+00


Maxium fare is 4016.5



**********************************
Checking dataset for month 06...

Number of rows: 6941024

Features are the same as reference features list.

Check missing values...

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.941024e+06     6.941024e+06   6.941024e+06  6.941024e+06
mean   1.642546e+00     1.567322e+00   3.078505e+00  1.059386e+00
std    5.018739e-01     1.210831e+00   1.790048e+01  7.349947e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.680000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.140000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   4.597722e+04  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.941024e+06  6.941024e+06  6.941024e+06  6.941024e+06  6.941024e+06
mean   1.623034e+02  1.608204e+02  1.292040e+00  1.366414e+01  1.164652e+00
std    6.638413e+01  7.046478e+01  4.809936e-01  1.323297e+02  1.275345e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -3.050000e+02 -2.650000e+01
25%    1.140000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.610000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.330000e+02  2.000000e+00  1.500000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  3.469500e+05  8.476000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.941024e+06  6.941024e+06  6.941024e+06           6.941024e+06
mean   4.950010e-01  2.265934e+00  4.061977e-01           2.984860e-01
std    1.008513e-01  2.962398e+00  1.797505e+00           2.854512e-02
min   -5.000000e-01 -8.888000e+01 -3.974000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.950000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    2.124200e+02  1.624640e+03  8.230000e+02           3.000000e-01

       total_amount  congestion_surcharge
count  6.941024e+06          6.941024e+06
mean   1.974127e+01          2.274467e+00
std    1.326798e+02          7.289606e-01
min   -3.058000e+02         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.480000e+01          2.500000e+00
75%    2.130000e+01          2.500000e+00
max    3.470350e+05          2.750000e+00


Maxium fare is 346949.99



**********************************
Checking dataset for month 07...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 6310419

Features are the same as reference features list.

Check missing values...

VendorID                 33959
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          33959
trip_distance                0
RatecodeID               33959
store_and_fwd_flag       33959
PULocationID                 0
DOLocationID                 0
payment_type             33959
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.276460e+06     6.276460e+06   6.310419e+06  6.276460e+06
mean   1.647390e+00     1.572045e+00   3.110132e+00  1.061235e+00
std    4.881620e-01     1.214311e+00   4.065832e+00  7.495861e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.680000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.190000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   3.115600e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.310419e+06  6.310419e+06  6.276460e+06  6.310419e+06  6.310419e+06
mean   1.616448e+02  1.597920e+02  1.305580e+00  1.361008e+01  1.163916e+00
std    6.566174e+01  7.009963e+01  4.877842e-01  1.311566e+01  1.277882e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.500000e+02 -7.000000e+00
25%    1.140000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.610000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.310000e+02  2.320000e+02  2.000000e+00  1.500000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  6.666650e+03  1.850000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.310419e+06  6.310419e+06  6.310419e+06           6.310419e+06
mean   4.936708e-01  2.183854e+00  4.055411e-01           2.984449e-01
std    6.457269e-02  2.875575e+00  1.890058e+00           2.903123e-02
min   -5.000000e-01 -2.210000e+02 -3.324000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.860000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  2.950000e+00  0.000000e+00           3.000000e-01
max    6.800000e+00  4.195600e+02  1.559120e+03           3.000000e-01

       total_amount  congestion_surcharge
count  6.310419e+06          6.310419e+06
mean   1.961230e+01          2.260082e+00
std    1.581046e+01          7.495733e-01
min   -4.508000e+02         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.476000e+01          2.500000e+00
75%    2.130000e+01          2.500000e+00
max    6.667450e+03          2.750000e+00


Maxium fare is 6666.65



**********************************
Checking dataset for month 08...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 6073357

Features are the same as reference features list.

Check missing values...

VendorID                 33321
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          33321
trip_distance                0
RatecodeID               33321
store_and_fwd_flag       33321
PULocationID                 0
DOLocationID                 0
payment_type             33321
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.040036e+06     6.040036e+06   6.073357e+06  6.040036e+06
mean   1.644728e+00     1.573908e+00   3.162674e+00  1.064386e+00
std    4.788811e-01     1.213185e+00   4.124069e+00  7.894866e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.700000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.230000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   6.016000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.073357e+06  6.073357e+06  6.040036e+06  6.073357e+06  6.073357e+06
mean   1.611686e+02  1.591861e+02  1.313143e+00  1.368657e+01  1.161476e+00
std    6.555918e+01  7.020883e+01  4.927769e-01  1.672940e+02  1.277081e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -1.856000e+03 -2.122000e+01
25%    1.140000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.610000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.310000e+02  2.310000e+02  2.000000e+00  1.500000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  5.000000e+00  4.110420e+05  6.250000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.073357e+06  6.073357e+06  6.073357e+06           6.073357e+06
mean   4.935188e-01  2.166728e+00  4.200514e-01           2.982552e-01
std    6.706236e-02  2.960933e+00  1.927141e+00           3.097050e-02
min   -5.000000e-01 -1.700000e+02 -3.162000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.850000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  2.940000e+00  0.000000e+00           3.000000e-01
max    2.452000e+01  5.370000e+02  9.008800e+02           3.000000e-01

       total_amount  congestion_surcharge
count  6.073357e+06          6.073357e+06
mean   1.967902e+01          2.254024e+00
std    1.675299e+02          7.598109e-01
min   -1.871800e+03         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.476000e+01          2.500000e+00
75%    2.080000e+01          2.500000e+00
max    4.110428e+05          2.750000e+00


Maxium fare is 411042.01



**********************************
Checking dataset for month 09...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 6567788

Features are the same as reference features list.

Check missing values...

VendorID                 34089
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          34089
trip_distance                0
RatecodeID               34089
store_and_fwd_flag       34089
PULocationID                 0
DOLocationID                 0
payment_type             34089
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         1
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.533699e+06     6.533699e+06   6.567788e+06  6.533699e+06
mean   1.648833e+00     1.549407e+00   3.086974e+00  1.064147e+00
std    4.773602e-01     1.192190e+00   4.036779e+00  8.400102e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.000000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.690000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.140000e+00  1.000000e+00
max    4.000000e+00     9.000000e+00   6.035000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.567788e+06  6.567788e+06  6.533699e+06  6.567788e+06  6.567788e+06
mean   1.628921e+02  1.611266e+02  1.287302e+00  1.381206e+01  1.150874e+00
std    6.620245e+01  7.050340e+01  4.807561e-01  6.052941e+01  1.272248e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -5.300000e+02 -7.500000e+00
25%    1.140000e+02  1.070000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.330000e+02  2.000000e+00  1.550000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  1.509984e+05  3.250000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.567788e+06  6.567788e+06  6.567788e+06           6.567788e+06
mean   4.937132e-01  2.277880e+00  4.084652e-01           2.983483e-01
std    6.597863e-02  2.937932e+00  1.853549e+00           3.041045e-02
min   -5.000000e-01 -8.008000e+01 -4.000000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.950000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    1.555000e+01  4.962000e+02  9.000900e+02           1.000000e+00

       total_amount  congestion_surcharge
count  6.567788e+06          6.567787e+06
mean   1.991838e+01          2.275256e+00
std    6.119252e+01          7.309130e-01
min   -5.308000e+02         -2.500000e+00
25%    1.160000e+01          2.500000e+00
50%    1.530000e+01          2.500000e+00
75%    2.136000e+01          2.500000e+00
max    1.510078e+05          2.750000e+00


Maxium fare is 150998.39



**********************************
Checking dataset for month 10...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 7213891

Features are the same as reference features list.

Check missing values...

VendorID                 46723
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          46723
trip_distance                0
RatecodeID               46723
store_and_fwd_flag       46723
PULocationID                 0
DOLocationID                 0
payment_type             46723
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  7.167168e+06     7.167168e+06   7.213891e+06  7.167168e+06
mean   1.653885e+00     1.538858e+00   3.016725e+00  1.062221e+00
std    4.757303e-01     1.178510e+00   3.940327e+00  8.380422e-01
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   9.900000e-01  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.650000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.060000e+00  1.000000e+00
max    2.000000e+00     9.000000e+00   3.079500e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  7.213891e+06  7.213891e+06  7.167168e+06  7.213891e+06  7.213891e+06
mean   1.638911e+02  1.619540e+02  1.282807e+00  1.363354e+01  1.152490e+00
std    6.572840e+01  6.995674e+01  4.784681e-01  1.242698e+01  1.272123e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.000000e+02 -1.662000e+01
25%    1.250000e+02  1.130000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  1.000000e+01  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.550000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  2.154500e+03  6.250000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  7.213891e+06  7.213891e+06  7.213891e+06           7.213891e+06
mean   4.935312e-01  2.281170e+00  3.978460e-01           2.983169e-01
std    7.058675e-02  2.882648e+00  1.931176e+00           3.088824e-02
min   -5.000000e-01 -1.155400e+02 -2.774000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.960000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    6.000000e+01  6.000000e+02  9.125000e+02           3.000000e-01

       total_amount  congestion_surcharge
count  7.213891e+06          7.213891e+06
mean   1.975187e+01          2.286424e+00
std    1.527045e+01          7.162004e-01
min   -4.003000e+02         -2.500000e+00
25%    1.175000e+01          2.500000e+00
50%    1.530000e+01          2.500000e+00
75%    2.136000e+01          2.500000e+00
max    2.155800e+03          2.750000e+00


Maxium fare is 2154.5



**********************************
Checking dataset for month 11...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 6878111

Features are the same as reference features list.

Check missing values...

VendorID                 47491
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          47491
trip_distance                0
RatecodeID               47491
store_and_fwd_flag       47491
PULocationID                 0
DOLocationID                 0
payment_type             47491
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         2
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.830620e+06     6.830620e+06   6.878111e+06  6.830620e+06
mean   1.659567e+00     1.541836e+00   2.928827e+00  1.060229e+00
std    4.738550e-01     1.176670e+00   8.130716e+00  8.126997e-01
min    1.000000e+00     0.000000e+00  -1.873924e+04  1.000000e+00
25%    1.000000e+00     1.000000e+00   9.700000e-01  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.610000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.000000e+00  1.000000e+00
max    2.000000e+00     9.000000e+00   7.013000e+02  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.878111e+06  6.878111e+06  6.830620e+06  6.878111e+06  6.878111e+06
mean   1.640193e+02  1.620674e+02  1.281971e+00  1.336841e+01  1.110793e+00
std    6.581160e+01  7.000155e+01  4.788083e-01  1.223458e+01  1.260138e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -4.000000e+02 -5.000000e+00
25%    1.250000e+02  1.130000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.500000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  5.000000e+00  2.253500e+03  8.756000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.878111e+06  6.878111e+06  6.878111e+06           6.878111e+06
mean   4.931446e-01  2.251272e+00  3.754895e-01           2.981747e-01
std    6.872347e-02  2.833211e+00  1.804846e+00           3.216981e-02
min   -5.000000e-01 -4.500000e+01 -2.474000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.960000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    3.800000e+00  5.000000e+02  9.105000e+02           3.000000e-01

       total_amount  congestion_surcharge
count  6.878111e+06          6.878109e+06
mean   1.940736e+01          2.286499e+00
std    1.500480e+01          7.179237e-01
min   -4.003000e+02         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.480000e+01          2.500000e+00
75%    2.102000e+01          2.500000e+00
max    2.254300e+03          2.750000e+00


Maxium fare is 2253.5



**********************************
Checking dataset for month 12...

/opt/conda/envs/fastai/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of rows: 6896317

Features are the same as reference features list.

Check missing values...

VendorID                 51018
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          51018
trip_distance                0
RatecodeID               51018
store_and_fwd_flag       51018
PULocationID                 0
DOLocationID                 0
payment_type             51018
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge         0
dtype: int64


Check statistical summary of numerical features...

           VendorID  passenger_count  trip_distance    RatecodeID  \
count  6.845299e+06     6.845299e+06   6.896317e+06  6.845299e+06
mean   1.666457e+00     1.550877e+00   2.973421e+00  1.065756e+00
std    4.714787e-01     1.174330e+00   1.643113e+01  9.309869e-01
min    1.000000e+00     0.000000e+00  -3.726453e+04  1.000000e+00
25%    1.000000e+00     1.000000e+00   9.600000e-01  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.600000e+00  1.000000e+00
75%    2.000000e+00     2.000000e+00   3.030000e+00  1.000000e+00
max    2.000000e+00     9.000000e+00   1.913018e+04  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  6.896317e+06  6.896317e+06  6.845299e+06  6.896317e+06  6.896317e+06
mean   1.636525e+02  1.614892e+02  1.298993e+00  1.359027e+01  1.108518e+00
std    6.605758e+01  7.033753e+01  4.879401e-01  1.522692e+02  1.259892e+00
min    1.000000e+00  1.000000e+00  1.000000e+00 -1.472000e+03 -4.500000e+00
25%    1.250000e+02  1.120000e+02  1.000000e+00  6.500000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  9.500000e+00  5.000000e-01
75%    2.330000e+02  2.340000e+02  2.000000e+00  1.543000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  5.000000e+00  3.984684e+05  9.006000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  6.896317e+06  6.896317e+06  6.896317e+06           6.896317e+06
mean   4.924147e-01  2.244620e+00  3.881238e-01           2.979857e-01
std    7.233857e-02  2.875127e+00  1.715502e+00           3.381444e-02
min   -5.000000e-01 -2.008000e+02 -4.050000e+01          -3.000000e-01
25%    5.000000e-01  0.000000e+00  0.000000e+00           3.000000e-01
50%    5.000000e-01  1.920000e+00  0.000000e+00           3.000000e-01
75%    5.000000e-01  3.000000e+00  0.000000e+00           3.000000e-01
max    3.300000e+00  4.044400e+02  6.126600e+02           3.000000e-01

       total_amount  congestion_surcharge
count  6.896317e+06          6.896317e+06
mean   1.964165e+01          2.275278e+00
std    1.525236e+02          7.359669e-01
min   -1.472800e+03         -2.500000e+00
25%    1.130000e+01          2.500000e+00
50%    1.480000e+01          2.500000e+00
75%    2.135000e+01          2.500000e+00
max    3.984712e+05          3.000000e+00


Maxium fare is 398468.38

A few observations:

1. Datasets of all months have the same columns.

2. VendorID of 4 is a recurring issue. Here I assume that it means "UNKNOWN" and will use this information in EMR.

3. In some months (e.g. 07, 08), there are missing VendorID, passenger_count,rateCodeID, store_and_fwd_flag, and payment_type. I assume those are erroneous records and they will be removed accordingly.

4. Starting from month 07 and beyond, there's a warning regarding mixed datatype for Column(6) (RateCodeID). Those are the erroneous records that will be removed accordingly.

5. Some fares are unreasonable high (e.g. the max fare is $671123.14 in month 02). Yet we will keep the records for the data scientists and analysts for their evaluation.

## 2. Inspect Weather Data

In [14]:
weather = pd.read_json('data/weather.json')

In [15]:
weather.head()

,city_name,lat,lon,main,wind,clouds,weather,dt,dt_iso,timezone,rain,snow
0,New York,40.712775,-74.005973,"{'temp': 29.32, 'temp_min': 27.94, 'temp_max':...","{'speed': 3.36, 'deg': 0}",{'all': 1},"[{'id': 800, 'main': 'Clear', 'description': '...",1420070400,2015-01-01 00:00:00 +0000 UTC,-18000,NaN,NaN
1,New York,40.712775,-74.005973,"{'temp': 28.81, 'temp_min': 24.98, 'temp_max':...","{'speed': 4.7, 'deg': 260}",{'all': 1},"[{'id': 800, 'main': 'Clear', 'description': '...",1420074000,2015-01-01 01:00:00 +0000 UTC,-18000,NaN,NaN
2,New York,40.712775,-74.005973,"{'temp': 28.15, 'temp_min': 23, 'temp_max': 30...","{'speed': 3.36, 'deg': 240}",{'all': 1},"[{'id': 800, 'main': 'Clear', 'description': '...",1420077600,2015-01-01 02:00:00 +0000 UTC,-18000,NaN,NaN
3,New York,40.712775,-74.005973,"{'temp': 28.09, 'temp_min': 24.08, 'temp_max':...","{'speed': 4.7, 'deg': 0}",{'all': 1},"[{'id': 800, 'main': 'Clear', 'description': '...",1420081200,2015-01-01 03:00:00 +0000 UTC,-18000,NaN,NaN
4,New York,40.712775,-74.005973,"{'temp': 28.26, 'temp_min': 24.98, 'temp_max':...","{'speed': 7.96, 'deg': 224}",{'all': 1},"[{'id': 800, 'main': 'Clear', 'description': '...",1420084800,2015-01-01 04:00:00 +0000 UTC,-18000,NaN,NaN

First,features such as city_name, lat, lon are irrelevant.  
Also, some data are nested json. We will evaluate the columns that are relevant to the etl pipeline.

In [16]:
weather_list = json.load((open('data/weather.json')))

In [18]:
#A sample of the weather data record 
weather_list[0]

{'city_name': 'New York',
 'lat': 40.712775,
 'lon': -74.005973,
 'main': {'temp': 29.32,
  'temp_min': 27.94,
  'temp_max': 30.92,
  'feels_like': 21.43,
  'pressure': 1025,
  'humidity': 37},
 'wind': {'speed': 3.36, 'deg': 0},
 'clouds': {'all': 1},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'sky is clear',
   'icon': '01n'}],
 'dt': 1420070400,
 'dt_iso': '2015-01-01 00:00:00 +0000 UTC',
 'timezone': -18000}

In [19]:
#nomalize the data with relevant data columns

weather = pd.json_normalize(weather_list,"weather",[['dt_iso'],['main','temp'],['main','temp_min'],['main','temp_max'],
                                                    ['main','feels_like'],['main','pressure'],['main','humidity'],
                                                    ['wind','speed'],['wind','deg'],['clouds','all']])

In [20]:
weather.head()

,id,main,description,icon,dt_iso,main.temp,main.temp_min,main.temp_max,main.feels_like,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
0,800,Clear,sky is clear,01n,2015-01-01 00:00:00 +0000 UTC,29.32,27.94,30.92,21.43,1025,37,3.36,0,1
1,800,Clear,sky is clear,01n,2015-01-01 01:00:00 +0000 UTC,28.81,24.98,32,20.14,1024,37,4.7,260,1
2,800,Clear,sky is clear,01n,2015-01-01 02:00:00 +0000 UTC,28.15,23,30.92,20.14,1024,35,3.36,240,1
3,800,Clear,sky is clear,01n,2015-01-01 03:00:00 +0000 UTC,28.09,24.08,30.2,19.42,1023,38,4.7,0,1
4,800,Clear,sky is clear,01n,2015-01-01 04:00:00 +0000 UTC,28.26,24.98,30.92,17.87,1023,42,7.96,224,1

In [21]:
# limit the date to year 2019

weather = weather.loc[(weather.dt_iso >= '2018-12-31') & (weather.dt_iso <= '2020-01-01')]

In [22]:
weather.head()

,id,main,description,icon,dt_iso,main.temp,main.temp_min,main.temp_max,main.feels_like,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
36019,803,Clouds,broken clouds,04n,2018-12-31 00:00:00 +0000 UTC,38.17,35.6,39.99,31.8,1025,75,4.7,190,63
36020,802,Clouds,scattered clouds,03n,2018-12-31 01:00:00 +0000 UTC,37.89,35.01,39.99,30.9,1025,76,5.82,180,39
36021,800,Clear,sky is clear,01n,2018-12-31 02:00:00 +0000 UTC,37.38,34,39.99,30.96,1025,76,4.7,210,1
36022,800,Clear,sky is clear,01n,2018-12-31 03:00:00 +0000 UTC,36.63,32,41,30.97,1025,79,3.36,280,1
36023,800,Clear,sky is clear,01n,2018-12-31 04:00:00 +0000 UTC,36.1,30.99,41,30.47,1025,81,3.36,0,1

In [29]:
print(f'number of records: {weather.shape[0]}')

number of records: 8872

In [23]:
weather.isnull().sum()

id                 0
main               0
description        0
icon               0
dt_iso             0
main.temp          0
main.temp_min      0
main.temp_max      0
main.feels_like    0
main.pressure      0
main.humidity      0
wind.speed         0
wind.deg           0
clouds.all         0
dtype: int64

There is no missing data in the weather dataset.

In [25]:
#Change numerical features to numeric

num_features_list = ['main.temp', 'main.temp_min', 'main.temp_max', 'main.feels_like','main.pressure', 'main.humidity', 
                   'wind.speed','wind.deg', 'clouds.all']

for feature in num_features_list:
    weather[feature] = weather[feature].astype('float')

In [26]:
weather.describe()

,id,main.temp,main.temp_min,main.temp_max,main.feels_like,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all
count,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000
mean,726.389766,55.238050,51.933394,58.143291,50.284022,1016.872858,70.244026,9.167759,199.805681,50.607642
std,128.882030,18.028087,17.531875,18.222960,23.353538,8.143625,14.995459,5.722020,103.999515,43.458812
min,500.000000,2.610000,0.000000,5.770000,-10.950000,987.000000,25.000000,0.180000,0.000000,0.000000
25%,601.000000,40.080000,37.000000,43.000000,30.390000,1012.000000,59.000000,4.985000,113.000000,0.000000
50%,800.000000,55.670000,52.880000,58.820000,48.920000,1017.000000,71.000000,7.630000,220.000000,53.000000
75%,803.000000,70.755000,67.102500,73.400000,70.840000,1023.000000,82.000000,12.080000,289.000000,99.000000
max,804.000000,97.590000,93.020000,100.990000,107.600000,1041.000000,100.000000,42.300000,360.000000,100.000000

The numbers are within a reasonable range.

## 3. To-do-list

1. Update vendor.json by inserting {"id":4, "provider":"UNKNOWN"}
2. Update rate.json inserting {"id": 99, "rate", "UNKNOWN"}
3. (In EMR) Remove trip record with Vendor ID is null.
3. (In EMR) Remove records with pickup datetime out of the expected  datetime range.